nav {
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    
    li {
        display: inline-block;        
        list-style: none;
        line-height: 60px;        
    }
        a {
            font-size: 20px;            
            text-decoration: none;
            margin-left: 40px;
            margin-right: 60px;
        }
        
        
    }